@import "tailwindcss";

@font-face{
    font-family: font1;
    src:url("../fonts/Lausanne-300.woff2")
}
@font-face{
    font-family: font2;
    /* font-weight: 800; */
    src:url("../fonts/Lausanne-500.woff2")
}

body{
    overflow-x: hidden;
}